
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-facebook">
                <span class="s-icon">Facebook</span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">1215</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">1815</h4>
                        <p class="m-0">Takip Ettiklerin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <span class="s-icon">Linkedin</span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.followingLinked</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">500++</h4>
                        <p class="m-0">Takip Ettiklerin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
                <span class="s-icon">Instagram</span>
            </div>
            <div class="row">
                
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.followingInsta</h4>
                            <p class="m-0">Takipçiler</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.followersInsta</h4>
                            <p class="m-0">Takip Ettiklerin</p>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-twitter">
                <span class="s-icon">Twitter</span>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.followingTwit</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.followersTwit</h4>
                        <p class="m-0">Takip Ettiklerin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>